@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  height: 100vh;
  min-height: 100vh;
}

html {
  height: 100vh;
  min-height: 100vh;
}

input {
  padding-left: 10px;
}

.button-primary {
  @apply bg-orange-400 rounded-lg px-4 py-2 justify-center font-bold text-black hover:bg-orange-500 active:bg-orange-400;
}
